<!DOCTYPE html>
<html>

<head>
    <meta charset=UTF-8>
    <link rel=stylesheet type=text/css href=css/main.css>
    <title>BANANPAJ ALBUM</title>
</head>

<body>

<div class="main">
    <div class="header">
        <p>BANANPAJ</p>
    </div>

    <div class="nav">
        <a href="index.html">Startsida</a>
        <a href="bananpaj.html">Om bananpaj</a>
        <a href="album.html">Album</a>
    </div>

    <div class="album-align">
        <div class="center">
        <div class="album">
            <img src="img/banan.jpg" alt="Banan" style="width:200px;height:200px;">
            <img src="img/banan1.png" alt="Banan" style="width:200px;height:200px;">
            <img src="img/banan2.png" alt="Banan" style="width:200px;height:200px;">
        </div>
        <div class="album">
            <img src="img/banan3.jpg" alt="Banan" style="width:200px;height:200px;">
            <img src="img/banan4.jpg" alt="Banan" style="width:200px;height:200px;">
            <img src="img/banan5.jpg" alt="Banan" style="width:200px;height:200px;">

        </div>
        <div class="album">
            <img src="img/banan6.jpg" alt="Banan" style="width:200px;height:200px;">
            <img src="img/banan7.jpg" alt="Banan" style="width:200px;height:200px;">
            <img src="img/banan8.jpg" alt="Banan" style="width:200px;height:200px;">
        </div></div>

    </div>

    <div class="footer">
        <p>Bananpaj is created by mr ris and mr alex XD 2017 p</p>
    </div>

</div>

<aside>
    <h1> BananerXD </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis a dui a pretium. Proin facilisis eros id urna posuere, ac placerat urna placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris lacinia dolor non vestibulum pretium. Vestibulum sollicitudin elit semper vulputate vehicula. Quisque porttitor metus a velit condimentum vulputate. Vestibulum pellentesque, magna at sodales congue, augue lacus egestas tellus, non pulvinar justo nisi tincidunt nisl. Duis est est, sollicitudin non facilisis eu, posuere eget nibh. Vivamus hendrerit mauris vitae lorem vestibulum, et eleifend nibh venenatis. Donec nec porta turpis, a porta felis.

    </p>
</aside>

</body>

</html>