<!DOCTYPE html>
<html>

<head>
    <meta charset=UTF-8>
    <link rel=stylesheet type=text/css href=css/main.css>
    <title>BANANPAJ YEA</title>
</head>

<body>

    <div class="main">
        <div class="header">
            <p>JAG GILLAR ATT MUMSA XDXD xdXXD!!</p>
        </div>

        <div class="nav">
            <a href="index.html">Album</a>
            <a href="bananpaj.html"> Om bananpaj</a>
            <a href="">XD</a>
        </div>

        <div class="content">
            
        </div>

        <div class="footer">
        </div>

    </div>

    <aside>
        <p> hello </p>
    </aside>

</body>

</html>