<!DOCTYPE html>
<html>

<head>
    <meta charset=UTF-8>
    <link rel=stylesheet type=text/css href=css/main.css>
    <title>BANANPAJ YEA</title>
</head>

<body>

    <div class="main">
        <div class="header">
            <p>BANANPAJ</p>
        </div>

        <div class="nav">
            <a href="index.html">Startsida</a>
            <a href="bananpaj.html">Om bananpaj</a>
            <a href="album.html">Album</a>
        </div>

        <div class="content">
            <div class="par1">
            <h2>Lorem bananum</h2>
            <p>Praesent dignissim, ante vel semper lobortis, diam arcu tempor tortor, ac elementum lectus est et nisl. Etiam non ultricies purus, vitae placerat nisi. Integer commodo justo ante, in consectetur nibh lacinia a. Curabitur vestibulum sem eros, non malesuada libero ultricies et. Fusce odio libero, ullamcorper eget porta sed, pretium ut urna. Fusce ornare facilisis metus eget condimentum. Quisque id risus id sem commodo vehicula ac non tortor. Sed non porttitor diam. Morbi condimentum pulvinar augue at porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi eu gravida urna. Praesent hendrerit massa sed leo maximus tincidunt. Nunc vel magna nec nisi pellentesque lobortis id non augue.

Etiam commodo odio leo, sed hendrerit tellus porttitor quis. Pellentesque convallis ultrices ligula sed aliquam. Nulla congue libero dolor, eu sollicitudin urna blandit a. Etiam non tellus id enim venenatis ultrices. Morbi tincidunt, mauris non fringilla cursus, urna nibh molestie leo, quis ornare dolor ante sit amet felis. Duis mattis risus vel lorem pharetra, non accumsan quam facilisis. Maecenas id accumsan orci, at pretium sem. Aenean tempor ornare pellentesque.</p>
            </div>
            <div class="par2">
            <h2>Brap bananpaj</h2>  
            <p>Ut ac odio vel mi posuere pretium et sed massa. Vivamus id nisi egestas arcu efficitur consequat. Mauris non porta velit. Pellentesque elementum sapien nec est molestie, interdum lobortis tortor pellentesque. Morbi at neque consectetur, porta augue sed, sagittis orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Mauris pulvinar massa in leo pharetra laoreet.

Nullam volutpat ligula ac semper tincidunt. Fusce molestie non turpis id sollicitudin. In auctor non leo vel mollis. Maecenas dictum ullamcorper convallis. Vivamus vulputate, erat in condimentum condimentum, ipsum ante molestie felis, vestibulum malesuada arcu ligula ut nunc. Nulla lobortis, lectus at volutpat molestie, quam odio vestibulum sem, a vulputate libero diam sed magna. Nam porttitor leo id aliquam eleifend. Suspendisse non tellus in turpis mattis venenatis.</p>
            </div>
        </div>

        <div class="footer">
            <p>Bananpaj is created by mr ris and mr alex XD 2017 p</p>
        </div>

    </div>

    <aside>
        <h1> BananerXD </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis a dui a pretium. Proin facilisis eros id urna posuere, ac placerat urna placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris lacinia dolor non vestibulum pretium. Vestibulum sollicitudin elit semper vulputate vehicula. Quisque porttitor metus a velit condimentum vulputate. Vestibulum pellentesque, magna at sodales congue, augue lacus egestas tellus, non pulvinar justo nisi tincidunt nisl. Duis est est, sollicitudin non facilisis eu, posuere eget nibh. Vivamus hendrerit mauris vitae lorem vestibulum, et eleifend nibh venenatis. Donec nec porta turpis, a porta felis.

</p>
    </aside>

</body>

</html>